azure-functions
flask
fastapi
uvicorn
pandas
azure-identity
azure-storage-blob
azure-search-documents
azure-monitor-opentelemetry>=1.8.3
opentelemetry-instrumentation-fastapi>=0.60b0
langchain-experimental
langchain-openai
langchain-community
openai
tabulate
gunicorn
langgraph
docx2txt
faiss-cpu
python-dotenv
